* {
  box-sizing: border-box;
}
header {
  background-color: #0099ff;
  padding: 30px;
  text-align: center;
  font-family: Berlin Sans FB Demi;
  font-size: 35px;
  color: white;
}
nav {
  width: 100%;
  background: #0099ff;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  margin: 0;
  display: inline-block;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #111111;
}
article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #f1f1f1;
  height: 300px;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #0099ff;
  padding: 10px;
  text-align: center;
  color: white;
}
