body {
  background-color: powderblue;
  background-image: url("/pattern.jpg");
}
h1 {
  color: blue;
  font-family: Edwardian Script ITC;
  text-align: center;
  border: 2px solid tomato
}
h2 {
  color:tomato;
  text-align:center;
}
p {
  color: black;
  margin: 30px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
ul {
  list-style-type: circle;
}
#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
#menu li {
  float: left;
}
#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
#menu li a:hover {
  background-color: #111111;
}
  
